<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Predicted Crime Spot</title>

    <!-- Fontfaces CSS-->
    <link href="static/css/font-face.css" rel="stylesheet" media="all">
    <link href="static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="static/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="static/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="static/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <link href="static/vendor/vector-map/jqvmap.min.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="static/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="static/images/icon/Nigeria-police-logo.jpg" alt="Cool Admin" height="30" width="125" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="has-sub">
                            <a class="js-arrow" href="index.html">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>                            
                        </li>
						
						<li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Crime Prediction</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="crimerate.html">Predict Crime Rate</a>
                                </li>
								
								<li>
                                    <a href="crimetypes.html">Predict Crime Types</a>
                                </li>
								
								<li>
                                    <a href="crimehotspot.html">Predict Crime Spot</a>
                                </li>
                                
                            </ul>
                        </li>
                        <li>
                            <a href="chart.html">
                                <i class="fas fa-chart-bar"></i>Analysis and Charts</a>
                        </li>
                        <li>
                            <a href="table.html">
                                <i class="fas fa-table"></i>Datasets</a>
                        </li>
                        
                        
                        <li class="active">
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Crime Maps</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <h3 style="color:red;font-size:20;text-align:center;">
                                        INTELLIGENT CRIME MANAGEMENT SYSTEM</h3>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER DESKTOP-->
			<!-- Main content div upward-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
					<!-- Copy right align-->
                        <div class="">
						<!-- The div extention-->
                            <div class="col-md-12">
							
                                <!-- MAP DATA-->
								<!-- The white background-->
                                 <div class="map-data m-b-40">
                                    
								<div>
					<center>
					<p style="color:blue;font-size:20;text-align: center;"><b>The map below shows the predicted crime spot</b></p>
								<p style="color:red;font-size:20;text-align: center;">
								
								<div id="map" style="width:100%;height:500px"></div>

								<script>
								function myMap() {
								var mapCanvas = document.getElementById("map");
								var mapOptions = {
								center: new google.maps.LatLng({{ prediction }}),
								zoom: 10
												}
								var map = new google.maps.Map(mapCanvas, mapOptions);
								var marker = new google.maps.Marker({
												position: new google.maps.LatLng({{ prediction }}),
												title: "Predicted Crime Spot" 
												
											
												
													});
													 // To add the marker to the map, call setMap();
								 marker.setMap(map);
												}
								</script>

								<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>

								
					
					</center>
					</div>
                                <!-- END MAP DATA-->
                            </div>
                        </div>
						<!--Map in row, side by side-->
                        <div class="row">
						<!--Map to smaller one, with its div-->
                            <div class="col-md-6">
                            <!--<div class="col-md-6">
                                <!-- MAP DATA
                                <div class="map-data m-b-40">
                                    <h3 class="title-3 m-b-30">
                                        <i class=""></i></h3>
                                    <div class="map-wrap">
                                        <div class="vmap" id=""></div>
                                    </div>
                                </div>-->
                                <!-- END MAP DATA-->
                                <!-- END PAGE CONTAINER-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018. All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="static/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="static/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="static/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="static/vendor/slick/slick.min.js">
    </script>
    <script src="static/vendor/wow/wow.min.js"></script>
    <script src="static/vendor/animsition/animsition.min.js"></script>
    <script src="static/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="static/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="static/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="static/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="static/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="static/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="static/vendor/select2/select2.min.js">
    </script>
    <script src="static/vendor/vector-map/jquery.vmap.js"></script>
    <script src="static/vendor/vector-map/jquery.vmap.min.js"></script>
    <script src="static/vendor/vector-map/jquery.vmap.sampledata.js"></script>
    

    <!-- Main JS-->
    <script src="static/js/main.js"></script>

</body>

</html>
<!-- end document-->
